#root {
  /* max-width: 750px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.custom-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.delete-pointer {
  cursor: pointer;
}

.link-pointer {
  cursor: pointer;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  height: 100vh;
  margin: 0;
} */
